.DS_Store
*/.DS_Store
kg_django/kg_building/code/bean/__pycache__/*
kg_django/kg_building/code/core/__pycache__/*
kg_django/kg_building/code/tool/__pycache__/*
kg_django/kg_django/__pycache__/*
kg_django/kg_building/.history/*
kg_django/.history/*
规范/*
other/*
kg_django/kg_building/model/*
pdf2excel/node_modules/*
pdf2excel/input/*
pdf2excel/output/*
KG_template/kg_building/model/*
KG_template/pdf2excel/node_modules/*
KG_template/pdf2excel/input/*
KG_template/pdf2excel/output/*
